body.login {
    padding-top:40px;
    text-align:center;
    font-family: "Lucida Grande", Calibri, Verdana, sans-serif;
}

.login_user {
    border: 1px solid #999;
    background: #EEE;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    margin: 40px;
    display: inline;
    font-size: 16px;
}

.login_user a {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.login_user:hover {
    border-bottom: 5px solid #cc99ff;
}

body.login .download_app{
    text-align:left;
}

body.login .download_app h1{
    font-size:30px;
    font-weight: bold;
}

#account_amount {
    font-size: 36px;
    font-weight: bold;
    color: #00cc00;
}

.labCurrency {
    line-height: 22px;
    height: 22px;
    margin-left: 3px;
}

#frmAddTrans > .x-panel-body > .x-box-inner {
    overflow-x: visible;
}

.acc-transrow-I {
    color: #009900;
}

.acc-transrow-TI, .acc-transrow-TO {
    color: #0000FF;
}

.acc-transrow-TI .colCategory {
    background: url(../img/arrow_left.png) no-repeat left;
    background-color: inherit;
    padding-left: 16px;
}

.acc-transrow-TO .colCategory {
    background: url(../img/arrow_right.png) no-repeat left;
    background-color: inherit;
    padding-left: 16px;
}

.acc-transrow-C {
    color: #940002;
}

.icon-private {
    background: url('../img/user_gray.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-hidden {
    background: url('../img/lock.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}