body.login {
    padding-top:40px;
    text-align:center;
    font-family: "Lucida Grande", Calibri, Verdana, sans-serif;
}

.login_user {
    border: 1px solid #999;
    background: #EEE;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    margin: 40px;
    display: inline;
    font-size: 16px;
}

.login_user a {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.login_user:hover {
    border-bottom: 5px solid #cc99ff;
}

body.login .download_app{
    text-align:left;
}

body.login .download_app h1{
    font-size:30px;
    font-weight: bold;
}

#account_amount {
    font-size: 36px;
    font-weight: bold;
    color: #00cc00;
}

.labCurrency {
    line-height: 22px;
    height: 22px;
    margin-left: 3px;
}

#frmAddTrans > .x-panel-body > .x-box-inner {
    overflow-x: visible;
}

.acc-transrow-D {
    color: #009900;
}

.acc-transrow-R {
    color: #0000FF;
}