<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>HIS</display-name>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>dataSchemaManager</filter-name>
        <filter-class>az.his.dsmanager.DataSchemaManagerFilter</filter-class>
        <init-param>
            <param-name>target-version</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>datasource</param-name>
            <param-value>java:comp/env/jdbc/${context.dbres}</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>dataSchemaManager</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>his</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>his</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>path.root</param-name>
        <param-value>${context.path}/</param-value>
    </context-param>

    <context-param>
        <param-name>product.version</param-name>
        <param-value>${project.version}.${buildNumber}</param-value>
    </context-param>

    <context-param>
        <param-name>page.main</param-name>
        <param-value>main.jsp</param-value>
    </context-param>

    <context-param>
        <param-name>page.login</param-name>
        <param-value>login.jsp</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/security.xml
        </param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/his</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
